.*
!/.gitignore

/binaries
/Backups
/best_yet
/notes
/OLD
/executables
main
urv2xp0000
TODO
output.txt
urv2xp_good
urv2xp
bug.epd
before_mate_change
Before TODO
game.txt
history
.gitignore
.gitignore
test_results
output_zugzwang.txt
output.txt
test_results
__Before TODO
__ATODO
display.h
smaller_undo_obj
before_halfmove
double_if
chk_b4_qs
before_draw
result_1
very slow position
oldversion
test.txt
