.*
!/.gitignore

/binaries
/Backups
/best_yet
/notes
/OLD
main
urv2xp0000
TODO
output.txt
urv2xp_good
urv2xp
bug.epd
before_mate_change
Before TODO
game.txt
history
.gitignore
.gitignore
test_results
output_zugzwang.txt
output.txt
test_results
